<div class="boolean-value form-inline">
  <label class="radio">
	  <%=radio_button_tag("wf_v#{index}_0", '1', (container.value == '1'), :onChange => 'wfFilter.fieldChanged(this)')%> True
  </label>
  <label class="radio">
  	<%=radio_button_tag("wf_v#{index}_0", '0', (container.value == '0'), :onChange => 'wfFilter.fieldChanged(this)')%> False
  </label>
</div>
