<script>
  $('input.date', 'div.date-value').datepicker(window.datepickerOptions);
</script>
<div class="date-value">
  <div class="input-prepend">
    <span class="add-on"><i class="icon-calendar"></i></span>
    <%=text_field_tag("wf_v#{index}_0", container.sanitized_value, :onChange => 'wfFilter.fieldChanged(this)', :class => "date")%>
  </div>
</div>
