<script>
  $('input.date', 'div.date-range-values').datepicker(window.datepickerOptions);
</script>
<div class="date-range-values">
  <div class="input-prepend">
    <span class="add-on"><i class="icon-calendar"></i></span>
    <%= binding.remote_pry %>
    <%=text_field_tag("wf_v#{index}_0", container.sanitized_value(0), :onChange => 'wfFilter.fieldChanged(this)', :class => "date")%>
  </div>
  <span> to </span>
  <div class="input-prepend">
    <span class="add-on"><i class="icon-calendar"></i></span>
    <%=text_field_tag("wf_v#{index}_1", container.sanitized_value(1), :onChange => 'wfFilter.fieldChanged(this)', :class => "date")%>
  </div>
</div>
