<%= render :partial => '/will_filter/filter/conditions_header', :locals => {:wf_filter => wf_filter} %>

<% if wf_filter.errors[:filter] %>
  <div class="alert">
    <%= wf_filter.errors[:filter] %>
  </div>
<% end %>

<% if wf_filter.size == 0 %>
  <div class="alert alert-info">
    You haven't added any filter conditions, so all of the results were returned.
    Use the "Add" button in the bottom left corner to add a new condition or select
    a predefined filter from a drop-down list above.
  </div>
<% else %>
  <fieldset>
    <legend>
      <div class="pull-right form-inline">
        <label for="wf_match">Match Type</label>
        <%= select_tag(:wf_match, options_for_select(wf_filter.match_options, wf_filter.match), {:onChange=>"wfFilter.markDirty()", :class => "input-mini"}) %>
      </div>
      Conditions
    </legend>
    <table class="conditions">
      <% 0.upto(wf_filter.size-1) do |index| %>
        <% condition = wf_filter.condition_at(index) %>
        <%= render :partial => "/will_filter/filter/condition", :locals => {:wf_filter => wf_filter, :condition => condition, :index => index}%>
      <% end %>
    </table>
  </fieldset>
<% end %>
